<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Header</th>
			<th>Created</th>
			<th>Published</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="adminBlogpostEdit?langs=<% if(global.langs){print(global.langs.join(','));}else{print('en');} %>&id=<%= entry.id %>"><%= entry.id %></a></td>
			<td><%
				var lang;
				for (lang in entry.langs) {
					print(entry.langs[lang].header);
					break;
				}
			%></td>
			<td><%= _.moment(entry.created).format('YYYY-MM-DD') %></td>
			<td><% if (entry.published) print(_.moment(entry.published).format('YYYY-MM-DD HH:mm:ss')); else print('No'); %></td>
		</tr>
	<% }) %>
	</tbody>
</table>
<%= _.render('inc/pageBottom', obj) %>
