<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<table>
	<thead>
		<tr>
			<th>Uuid</th>
			<th>Header</th>
			<th>Created</th>
			<th>Published</th>
		</tr>
	</thead>
	<tbody>
	<%
	_.each(blogEntries, function(entry) {
		var lang;

		if (entry.langs.en !== undefined) {
			lang = 'en';
		} else {
			_.each(entry.langs, function(data, thisLang) {
				lang = thisLang;
				return;
			});
		}
	%>
		<tr>
			<td><a href="adminBlogpostEdit?langs=<% if(global.langs){print(global.langs.join(','));}else{print(lang);} %>&uuid=<%= entry.uuid %>"><%= entry.uuid %></a></td>
			<td><%= entry.langs[lang].header %></td>
			<td><%= _.moment(entry.created).format('YYYY-MM-DD') %></td>
			<td><% if (entry.published) print(_.moment(entry.published).format('YYYY-MM-DD HH:mm:ss')); else print('No'); %></td>
		</tr>
	<% }) %>
	</tbody>
</table>
<%= _.render('inc/pageBottom', obj) %>
